In [2]:
import pandas as pd
df_commercial = pd.read_csv('commercial_lemmatized.csv', names=['status', 'text'], header=None)
df_commercial_def = pd.read_csv('commercial_definition.csv', names=['status', 'cat_name'], header=None)
df_posts = pd.read_csv('lemmatized.csv', names=['index', 'text'], header=None)
df_categories = pd.read_csv('categories.csv', names=['index', 'cat_name'], header=None)

In [3]:
df_posts.head()

   index                                               text
0     13  рассказывать источник поле зрение федеральный ...
1      1  инсайдер сообщать лидер партия единый россия д...
2      2  ноябрь ростов временный торговый точка аксайск...
3      5  роснано оказываться грань дефолт топ менеджер ...
4      1  свежий выступление председатель ск быстрыкин н...

In [4]:
df_categories

    index             cat_name
0       1             Политика
1       2   Экономика и бизнес
2       3              Телеком
3       4            Компромат
4       5      Биржа и финансы
5       6             COVID-19
6       7          Губернаторы
7       8                Банки
8       9             Медицина
9      10      Технологии и IT
10     11          Проишествия
11     12  Министерство ИноДел
12     13             Криминал
13     14             Экология
14     15            Президент
15     16                 Суды
16     17          Застройщики
17     18               Туризм

In [5]:
df_commercial.head()

   status                                               text
0       1  рейтинг канал политический телеграм цитировани...
1       1  телегр неделя тотальный qr кодирование цензури...
2       1  новый дайджест telegram повестка неделя сделат...
3       1  самый известный оппозиционный канал telegram с...
4       1  большинство сми телегр канал давно раскупать п...

In [6]:
df_commercial_def.head()

   status    cat_name
0       1     Реклама
1       0  Не реклама

In [7]:
res = df_posts.merge(df_categories, how='left', on='index')
p = pd.DataFrame(res['cat_name'].value_counts())
p

                     cat_name
Политика                 1441
Экономика и бизнес       1109
Губернаторы               831
Компромат                 794
Проишествия               591
Министерство ИноДел       568
Биржа и финансы           535
COVID-19                  414
Банки                     397
Криминал                  250
Технологии и IT           241
Президент                 200
Экология                  151
Телеком                   117
Медицина                   76
Суды                       38
Туризм                     13
Застройщики                12

In [8]:
df_posts_clean = df_posts.loc[df_posts['index'].isin([1, 2, 7, 4, 11, 12, 5, 6])]
df_posts_clean

      index                                               text
1         1  инсайдер сообщать лидер партия единый россия д...
2         2  ноябрь ростов временный торговый точка аксайск...
3         5  роснано оказываться грань дефолт топ менеджер ...
4         1  свежий выступление председатель ск быстрыкин н...
5         4  экс глава минкульт крым вера новосельская изда...
...     ...                                                ...
7770      1  председатель правительство рф мишустин подписы...
7771      2  министерство оборона рф взыскивать ао нииса мл...
7773      2  экстренный снижение ставка фрс сша сразу оконч...
7776     11  отец екатерина андреева проверять полиция сомн...
7777     11  мвд сообщать нападение глава цик элла памфилов...

[6283 rows x 2 columns]

In [9]:
res = df_posts_clean.merge(df_categories, how='left', on='index')
p = pd.DataFrame(res['cat_name'].value_counts())
p

                     cat_name
Политика                 1441
Экономика и бизнес       1109
Губернаторы               831
Компромат                 794
Проишествия               591
Министерство ИноДел       568
Биржа и финансы           535
COVID-19                  414

In [10]:
df_posts_clean.shape[0]

6283

In [11]:
indexes = [1, 2, 7, 4, 11, 12, 5]
df_post_stable = df_posts_clean.loc[df_posts_clean['index'] == 6]
for i in indexes:
    df_tmp = df_posts_clean.loc[df_posts_clean['index'] == i].sample(414)
    df_post_stable = pd.concat([df_post_stable, df_tmp])

In [12]:
res = df_post_stable.merge(df_categories, how='left', on='index')
p = pd.DataFrame(res['cat_name'].value_counts())
p

                     cat_name
COVID-19                  414
Политика                  414
Экономика и бизнес        414
Губернаторы               414
Компромат                 414
Проишествия               414
Министерство ИноДел       414
Биржа и финансы           414

In [13]:
df_post_stable.shape[0]

3312

In [42]:
df_posts_need = df_posts.loc[df_posts['index'].isin([3, 8, 9, 10, 13, 14, 15, 16, 17, 18])]
df_posts_need

      index                                               text
0        13  рассказывать источник поле зрение федеральный ...
9         8  михаил задорнов открытие оставлять попытка рас...
13       15  президент согласовывать переизбрание дмитрий м...
35       13  гендиректор тольяттиазот сергей шишов игнориро...
48       13  интернет появляться петиция требование освобож...
...     ...                                                ...
7751     15  владимир путин совещание экономический вопрос ...
7761     13  раскрывать дело полковник захарченко сотрудник...
7772      8  асв объявлять открытый сезон охота беглый банк...
7774     18  кэшбэк туристический поездка россия увеличиват...
7775     10  илона маск показывать новый беспилотный плавуч...

[1495 rows x 2 columns]

In [50]:
df_posts_need.loc[df_posts_need['index'].astype(int) > 0, 'index'] = 0
df_posts_need

C:\Users\mrtit\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

      index                                               text
0         0  рассказывать источник поле зрение федеральный ...
9         0  михаил задорнов открытие оставлять попытка рас...
13        0  президент согласовывать переизбрание дмитрий м...
35        0  гендиректор тольяттиазот сергей шишов игнориро...
48        0  интернет появляться петиция требование освобож...
...     ...                                                ...
7751      0  владимир путин совещание экономический вопрос ...
7761      0  раскрывать дело полковник захарченко сотрудник...
7772      0  асв объявлять открытый сезон охота беглый банк...
7774      0  кэшбэк туристический поездка россия увеличиват...
7775      0  илона маск показывать новый беспилотный плавуч...

[1495 rows x 2 columns]

In [53]:
df_post_stable = pd.concat([df_post_stable, df_posts_need])

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_valid, y_train, y_valid = train_test_split(df_post_stable['text'], df_post_stable['index'], test_size=0.1, random_state=42)

In [56]:
X_train.shape

(4326,)

In [57]:
X_valid.shape

(481,)

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [59]:
X_train.shape

(3460,)

In [60]:
X_test.shape

(866,)

In [61]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import GridSearchCV

In [62]:
sgd_ppl_clf = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('sgd_clf', SGDClassifier(random_state=42))])
knb_ppl_clf = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('knb_clf', KNeighborsClassifier(n_neighbors=10))])
sgd_ppl_clf.fit(X_train, y_train)
knb_ppl_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('knb_clf', KNeighborsClassifier(n_neighbors=10))])

In [63]:
predicted_sgd = sgd_ppl_clf.predict(X_test)
print(metrics.classification_report(predicted_sgd, y_test))

              precision    recall  f1-score   support

           0       0.70      0.59      0.64       317
           1       0.33      0.34      0.34        64
           2       0.32      0.35      0.34        68
           4       0.35      0.42      0.38        66
           5       0.54      0.59      0.57        79
           6       0.84      0.71      0.77        87
           7       0.57      0.60      0.59        65
          11       0.36      0.46      0.40        52
          12       0.52      0.60      0.56        68

    accuracy                           0.55       866
   macro avg       0.50      0.52      0.51       866
weighted avg       0.57      0.55      0.56       866

In [64]:
parameters = { 
              'sgd_clf__loss':['hinge', 'log', 'modified_huber', 'squared_hinge', 'perceptron'],
              'sgd_clf__class_weight':[None, 'balanced'],
              'sgd_clf__penalty':[None, 'l2', 'l1', 'elasticnet'],
              'tfidf__strip_accents':['ascii', 'unicode', None],
               'tfidf__ngram_range':[(1,2), (1,3), (1,4)]
              }
model = GridSearchCV(sgd_ppl_clf, parameters, cv=4, n_jobs=-1).fit(X_train, y_train)

In [65]:
print('Best score and parameter combination for sgd:')
print(model.best_score_, model.best_params_)

Best score and parameter combination for sgd:
0.585549132947977 {'sgd_clf__class_weight': None, 'sgd_clf__loss': 'hinge', 'sgd_clf__penalty': 'l2', 'tfidf__ngram_range': (1, 4), 'tfidf__strip_accents': None}

In [72]:
sgd_ppl_clf = Pipeline([
    ('tfidf', TfidfVectorizer(ngram_range=(1, 4), strip_accents='unicode')),
    ('sgd_clf', SGDClassifier(class_weight='balanced', penalty='l2', loss='hinge', random_state=42))
])
sgd_ppl_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(ngram_range=(1, 4), strip_accents='unicode')),
                ('sgd_clf',
                 SGDClassifier(class_weight='balanced', random_state=42))])

In [73]:
predicted_sgd = sgd_ppl_clf.predict(X_test)
print(metrics.classification_report(predicted_sgd, y_test))

              precision    recall  f1-score   support

           0       0.64      0.66      0.65       260
           1       0.46      0.40      0.43        77
           2       0.32      0.44      0.37        54
           4       0.39      0.49      0.43        63
           5       0.69      0.54      0.61       111
           6       0.95      0.70      0.80       100
           7       0.75      0.59      0.66        86
          11       0.36      0.56      0.44        43
          12       0.58      0.64      0.61        72

    accuracy                           0.59       866
   macro avg       0.57      0.56      0.56       866
weighted avg       0.62      0.59      0.60       866

In [74]:
predicted_sgd = sgd_ppl_clf.predict(X_valid)
print(metrics.classification_report(predicted_sgd, y_valid))

              precision    recall  f1-score   support

           0       0.66      0.70      0.68       149
           1       0.40      0.60      0.48        35
           2       0.38      0.48      0.42        29
           4       0.59      0.59      0.59        41
           5       0.61      0.50      0.55        44
           6       0.93      0.86      0.90        50
           7       0.73      0.57      0.64        56
          11       0.47      0.47      0.47        36
          12       0.77      0.59      0.67        41

    accuracy                           0.63       481
   macro avg       0.62      0.60      0.60       481
weighted avg       0.65      0.63      0.63       481

In [75]:
from joblib import dump, load

In [76]:
dump(sgd_ppl_clf, 'theme_model_datasetbot.joblib')

['theme_model_datasetbot.joblib']

In [77]:
sgd_ppl_clf = load('theme_model.joblib')

In [78]:
tstst = 'прочитывать интервью rtvi складываться впечатление пророссийский пропаганда добираться представитель украинский парламент весь ужас заключаться внешний управление сша это украинский реальность политика куратор превращаться цирк грузия это лишь вопрос время'

In [79]:
sgd_ppl_clf.predict([tstst])

array([12], dtype=int64)